// Colors
$primary-text: #363636;
$primary: rgb(231, 231, 255);
$secondary: #cccccc;
$primary-background: rgb(40, 32, 53);

// Border-radius
$small-border-radius: 2px;
$medium-border-radius: 4px;
$large-border-radius: 8px;